.loading-icon,
.loading-icon::before,
.loading-icon::after {
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  vertical-align: middle;
  background: #66e0ff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.loading-icon::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.loading-icon::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}
